NODE_ENV=development
PORT=4002

# MySQL
DB_HOST=mysql
DB_PORT=3306
DB_NAME=parqueadero_db
DB_USER=root
DB_PASSWORD=root

# JWT (debe ser idéntico al de auth-service)
JWT_SECRET=ciclo-parqueadero-super-secret-key-change-in-production
