PORT=4001

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=ciclo-parqueadero-super-secret-key-change-in-production-please
JWT_EXPIRATION_MS=86400000

# Admin por defecto
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@cicloparqueadero.com
ADMIN_PASSWORD=Admin123!
